{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .content {
            width: 1200px;
            height: auto;
            margin: auto;
            color: rgb(0, 0, 0);
            position: relative;
        }

        .content .par {
            padding-left: 20px;
            padding-bottom: 25px;
            font-family: Arial;
            letter-spacing: 1.2px;
            line-height: 30px;
        }

        .content h1 {
            font-family: 'Times New Roman';
            font-size: 50px;
            padding-left: 20px;
            margin-top: 9%;
            letter-spacing: 2px;
        }

        .content .cn {
            width: 160px;
            height: 40px;
            background: green;
            border: none;
            margin-bottom: 10px;
            margin-left: 20px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            transition: .4s ease;

        }

        .content .cn a {
            text-decoration: none;
            color: #000;
            transition: .3s ease;
        }

        .cn:hover {
            background-color: #5A6EA5;
        }

        .welcome_img {
            position: absolute;
            top: -80px;
            left: 600px;
            transform: translate(0%, -5%);
            border-radius: 10px;
            padding: 25px;
        }


        /* scrolling window  */
        html {
  scroll-behavior: smooth;
    }

#section2 {
  height: 600px;
}

footer{
    margin-top: 0;
    background-color: #FFC93C;
    text-align: center;
}
.footer-text{
    color: #ffffff;

    padding: 20px 0px;
}
    </style>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-size: 0px" href="/"><b>
                    <font size="5" color="#16a085" style="display: inline-block">Save </font>
                    <font size="6" color="#5A6EA5" style="display: inline-block"> Plate </font>
                </b></a> &nbsp &nbsp
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/"><b><button type="button"
                                    class="btn btn-light">Home</button></b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'main:achivements' %}"><button type="button" class="btn btn-warning">Achievments</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:aboutus' %}"><button type="button" class="btn btn-light">About</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:contributers' %}"><button type="button" class="btn btn-light">Contributers</button></a>
                    </li>


                </ul>



                <a href="{% url 'main:login' %}" class="nav-link active">
                    <button class="btn btn-outline-success" type="submit"><i data-feather="user"></i>
                        Login
                    </button>
                </a>
            </div>
        </div>
    </nav>



    <!-- intro content  -->

 



    <!-- select type og signup  -->


  
    <footer>
        <div class="footer-text">
            2023 © SavePlate
        </div>
    </footer>
{% endblock content %}