{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .content {
            width: 1200px;
            height: auto;
            margin: auto;
            color: rgb(0, 0, 0);
            position: relative;
        }

        .content .par {
            padding-left: 20px;
            padding-bottom: 25px;
            font-family: Arial;
            letter-spacing: 1.2px;
            line-height: 30px;
        }

        .content h1 {
            font-family: 'Times New Roman';
            font-size: 50px;
            padding-left: 20px;
            margin-top: 9%;
            letter-spacing: 2px;
        }

        .content .cn {
            width: 160px;
            height: 40px;
            background: green;
            border: none;
            margin-bottom: 10px;
            margin-left: 20px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            transition: .4s ease;

        }

        .content .cn a {
            text-decoration: none;
            color: #000;
            transition: .3s ease;
        }

        .cn:hover {
            background-color: #5A6EA5;
        }

        .welcome_img {
            position: absolute;
            top: -80px;
            left: 600px;
            transform: translate(0%, -5%);
            border-radius: 10px;
            padding: 25px;
        }


        /* scrolling window  */
        html {
  scroll-behavior: smooth;
    }

#section2 {
  height: 600px;
}
    </style>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-size: 0px" href="/"><b>
                    <font size="5" color="#16a085" style="display: inline-block">Save </font>
                    <font size="6" color="#5A6EA5" style="display: inline-block"> Plate </font>
                </b></a> &nbsp &nbsp
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><b><button type="button"
                                    class="btn btn-warning">Home</button></b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><button type="button" class="btn btn-light">Achievments</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><button type="button" class="btn btn-light">About</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><button type="button" class="btn btn-light">Contributers</button></a>
                    </li>


                </ul>



                <a href="{% url 'main:login' %}" class="nav-link active">
                    <button class="btn btn-outline-success" type="submit"><i data-feather="user"></i>
                        Login
                    </button>
                </a>
            </div>
        </div>
    </nav>



    <!-- intro content  -->

    <div class="content">
        <h1>Safe Plate content<br> content content content </h1>
        <p class="par">
            content content content contentcontent content content content <br> content content content contentcontent
            content content
        </p>
        <button class="cn"><a class="text-white" href="#section2">Join Us</a></button>
        <div class="welcome_img">
            <img height="400" src="{% static 'img/main/Welcome.webp' %}" alt="">
        </div>
        <br><br><br><br>
    </div>




    <!-- select type og signup  -->


    <div class="registration_type p-5" id="section2">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title">User</h5>
                            <img height="150" src="{% static 'img/main/user_icon.png' %}" alt="">
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="{% url 'main:register' 4 %}" class="btn btn-warning">Register</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <center>
                        <h5 class="card-title text-center">Food Retailer</h5>
                        <img height="150" src="{% static 'img/main/retailer_icon.png' %}" alt="">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="{% url 'main:register' 1 %}" class="btn btn-warning">Register</a>
                    </center>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <center>
                        <h5 class="card-title text-center">NGO</h5>
                        <img height="150" src="{% static 'img/main/ngo_icon.png' %}" alt="">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="{% url 'main:register' 3 %}" class="btn btn-warning">Register</a>
                    </center>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <center>
                        <h5 class="card-title text-center">Organisations</h5>
                        <img height="150" src="{% static 'img/main/org_icon.png' %}" alt="">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="{% url 'main:register' 2 %}" class="btn btn-warning">Register</a>
                    </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}