{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="" method="POST">
    <form action="" method="POST">
        <div class="signup-detail">
          <div class="signup-detail-text">Food Name</div>
          <input type="text" name="username" id="username" class="signup-detail-input" />
          <div class="signup-detail-text">Food Name</div>
          <input type="text" name="username" id="username" class="signup-detail-input" />
          <div class="signup-detail-text">Food Name</div>
          <input type="text" name="username" id="username" class="signup-detail-input" />
          <div class="signup-detail-text">Food Name</div>
          <select class="form-control" id="ngo" name="ngo" aria-describedby="ngo">
                                <option value="">Select NGO</option>
                                <!-- {% for i in range(0,1) %} -->
                                <!-- <option value='1'>NGO {{i}} -->
                                <!-- </option> -->
                                <!-- {% endfor %} -->
            </select>
          
          
        <button type="Submit" class="signup-btn">Login</button>
      </form>
</form>
{% endblock content %}