{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: 0px" href="/"><b>
                <font size="5" color="#16a085" style="display: inline-block">Save </font>
                <font size="6" color="#5A6EA5" style="display: inline-block"> Plate </font>
            </b></a> &nbsp &nbsp
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">



            </ul>

        </div>
    </div>
</nav>
<br><br>
<div class="card mb-3" style="max-width: 800px; margin: auto;">
    <div class="row g-0">
        <div class="col-md-4" style= "margin: auto;">
            <img src="{% static 'img/donate/donate_food.webp' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="top-box">

                    <h1>Donation Details</h1>
                </div>
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Food Name</label>
                        <input type="text" class="form-control" id="food_name" name="food_name" aria-describedby="">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Plate Size</label>
                        <input type="number" class="form-control" id="plate_size" name="plate_size" aria-describedby="">
                        <div id="number" class="form-text">Number of people can eat.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Reason</label>
                        <textarea type="text" class="form-control" id="reason" name="reason" cols="30" rows="2"></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="form-label">Select NGO</div>
                        <select class="form-control" id="ngo" name="ngo_id" aria-describedby="subjectid" required>
                            <option value="">Select NGO</option>
                            {% for ngo in ngos_list %}
                                <option value="{{ngo.user.id}}">{{ngo.user.first_name}} : {{ngo.address}} ,{{ngo.pincode}}, {{ngo.city}},</option>
                            {% endfor %}
        
                        </select>
                    </div>
        
                    <button type="submit" class="btn btn-warning">Submit</button>
                </form>
        
            </div>
            </div>
        </div>
    </div>
</div>


        <!-- Form  -->
        


{% endblock content %}